<footer>

<div class="content">
  <h2>Say Hello &amp; Connect</h2>

  <a href="mailto:hello@kaitlynjoy.com" class="btn-contact">
    <img src="{{ site.baseurl }}/img/contact-email.png" alt="Email" title="">
    <p>Email</p>
  </a>

  <a href="https://www.linkedin.com/in/kaitlynmann" target="_blank" class="btn-contact">
    <img src="{{ site.baseurl }}/img/contact-linkedin.png" alt="LinkedIn" title="">
    <p>LinkedIn</p>
  </a>

  <a href="http://vimeo.com/kaitlynmann/" target="_blank" class="btn-contact">
    <img src="{{ site.baseurl }}/img/contact-vimeo.png" alt="CodePen" title="">
    <p>Vimeo</p>
  </a>

  <a href="https://www.behance.net/kaitlynjoy" target="_blank" class="btn-contact">
    <img src="{{ site.baseurl }}/img/contact-behance.png" alt="Behance" title="">
    <p>Behance</p>
  </a>

  <a href="http://codepen.io/kaitlynjoy/" target="_blank" class="btn-contact">
    <img src="{{ site.baseurl }}/img/contact-codepen.png" alt="CodePen" title="">
    <p>CodePen</p>
  </a>

  <a href="https://github.com/kaitlynjoy" target="_blank" class="btn-contact">
    <img src="{{ site.baseurl }}/img/contact-github.png" alt="Behance" title="">
    <p>Github</p>
  </a>
</div>



  <div class="clear"></div>

  <hr>

  <div class="clear"></div>

    <p>&copy; Kaitlyn Joy Mann</p>

    <a href="https://github.com/kaitlynjoy/portfolio-site" target="_blank" class="btn-box">Source Code</a>
    <a href="{{ site.baseurl }}/blog/" class="btn-box">Blog</a>

<div class="clear"></div>
</footer>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{{ site.baseurl }}/js/base.js"></script>
