---
layout: default
title: Blog
bodytags: interior-page blog
logo: light
---

<header class="small-header">

  <div id="header-content" class="fadeContent"> 
    
    <h1><a href="{{ site.baseurl }}/blog/">Blog</a></h1>
    <h4 class="hide-mobile">Kaitlyn Joy Mann | Web Development, Design &amp; Motion</h4>

  </div>

</header>

<section id="main-content" class="content">


{% for post in paginator.posts %}
<a href="{{ post.url | prepend: site.baseurl }}" class="post">

  <h2 class="post-title">{{ post.title }}</h2>

  <div class="post-content">
    <p class="post-date">{{ post.date | date: "%b %-d, %Y" }}</p>
    {{ post.excerpt }}
  </div>

  <hr>

</a>
{% endfor %}

  {% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <p class="previous"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&lt;&lt; Newer Posts</a></p>
  {% endif %}


  {% if paginator.next_page %}
    <p class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &gt;&gt;</a></p>
  {% endif %}
</div>
{% endif %}

<p class="rss-subscribe center">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">via RSS</a></p>

</section>